/*div置中，固定寬996*/
div{
    margin:0px auto;
    width: 996px;
    background-color:rgb(250, 247, 242);
}
/*標題*/
.aboutustitle {
    width: 996px;
    height: 120px;
}
.aboutustitle img{
    width: 220px;
    float: left;
    padding: 20px;
    padding-top: 0px;
}
/*個人資訊*/
.aboutusblock{
    width: 996px;
    height: 1640px;
}
/*成員1*/
.aboutusblock1{
    width: 900px;
    height: 260px;
}
.aboutusblock1_1{
    width: 200px;
    float: left;
}
.aboutusblock1_1 img{
    width: 180px;
}
.aboutusblock1_2{
    width: 350px;
    display: inline-block;
}
.aboutusblock1_2title{
    width: 350px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutusblock1_2title img{
    width: 100px;
    float: left;
    padding-left: 10px;
}
.aboutusblock1_2font{
    width: 300px;
    font-family:Microsoft JhengHei;
    font-size: 18px;
    text-indent:2em;
    padding-left: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-weight: 550;
}
.aboutusblock1_3{
    width: 350px;
    float: right;
}
.aboutusblock1_3title{
    width: 350px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutusblock1_3title img{
    width: 100px;
    float: left;
    padding-left: 10px;
}
.aboutusblock1_3font{
    width: 300px;
    font-family:Microsoft JhengHei;
    font-size: 18px;
    text-indent:2em;
    padding-left: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-weight: bold;
}

/*成員2*/
.aboutusblock2{
    width: 900px;
    height: 260px;
}
.aboutusblock2_1{
    width: 350px;
    float: left;
}
.aboutusblock2_1title{
    width: 350px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutusblock2_1title img{
    width: 100px;
    float: left;
}
.aboutusblock2_1font{
    width: 300px;
    font-family:Microsoft JhengHei;
    font-size: 18px;
    text-indent:2em;
    padding-left: 20px;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.aboutusblock2_2{
    width: 350px;
    display: inline-block;
}
.aboutusblock2_2title{
    width: 350px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutusblock2_2title img{
    width: 100px;
    float: left;
}
.aboutusblock2_2font{
    width: 300px;
    font-family:Microsoft JhengHei;
    font-size: 18px;
    text-indent:2em;
    padding-left: 20px;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.aboutusblock2_3{
    width: 200px;
    float: right;
}
.aboutusblock2_3 img{
    width: 180px;
}

/*成員3*/
.aboutusblock3{
    width: 900px;
    height: 260px;
}
.aboutusblock3_1{
    width: 200px;
    float: left;
}
.aboutusblock3_1 img{
    width: 180px;
}
.aboutusblock3_2{
    width: 350px;
    display: inline-block;
}
.aboutusblock3_2title{
    width: 350px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutusblock3_2title img{
    width: 100px;
    float: left;
    padding-left: 10px;
}
.aboutusblock3_2font{
    width: 300px;
    font-family:Microsoft JhengHei;
    font-size: 18px;
    text-indent:2em;
    padding-left: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.aboutusblock3_3{
    width: 350px;
    float: right;
}
.aboutusblock3_3title{
    width: 350px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutusblock3_3title img{
    width: 100px;
    float: left;
    padding-left: 10px;
}
.aboutusblock3_3font{
    width: 300px;
    font-family:Microsoft JhengHei;
    font-size: 18px;
    text-indent:2em;
    padding-left: 30px;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 25px;
}

/*成員4*/
.aboutusblock4{
    width: 900px;
    height: 260px;
}
.aboutusblock4_1{
    width: 350px;
    float: left;
}
.aboutusblock4_1title{
    width: 350px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutusblock4_1title img{
    width: 100px;
    float: left;
}
.aboutusblock4_1font{
    width: 300px;
    font-family:Microsoft JhengHei;
    font-size: 18px;
    text-indent:2em;
    padding-left: 20px;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.aboutusblock4_2{
    width: 350px;
    display: inline-block;
}
.aboutusblock4_2title{
    width: 350px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.aboutusblock4_2title img{
    width: 100px;
    float: left;
}
.aboutusblock4_2font{
    width: 300px;
    font-family:Microsoft JhengHei;
    font-size: 18px;
    text-indent:2em;
    padding-left: 20px;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 25px;
}
.aboutusblock4_3{
    width: 200px;
    float: right;
}
.aboutusblock4_3 img{
    width: 180px;
}
/*fblink*/
.fblink{
    width: 200px;
    display: inline-block;
}
.fblink img{
    width: 140px;
    height: 35px;
    padding-left: 20px;
    padding-top: 3px;
}
/*裝飾線*/
.decoration2{
    width: 996px;
    height: 5px;
    padding-top: 80px;
    padding-bottom: 90px;
}
.decoration2 img{
    width: 676px;
    height: 3px;
    padding-left: 160px;
}

