/*div置中，固定寬996*/
div{
    margin:0px auto;
    width: 996px;
    background-color: rgb(181, 248, 250);
}
/*標題*/
.aboutustitle {
    width: 996px;
    height: 100px;
}
.aboutustitle img{
    width: 220px;
    float: left;
    padding: 20px;
    padding-top: 0px;
}
/*個人資訊*/
.aboutusblock{
    width: 996px;
    height: 950px;
}
/*成員1*/
.aboutusblock1{
    width: 262px;
    float: left;
}
.aboutusblock1 img{
    width: 200px;
    height: 250px;
    padding: 16px;
    padding-left: 46px;
}
.aboutusblock1title1{
    width: 200px;
    height: 50px;
    display: inline-block;
}
.aboutusblock1title1 img{
    width: 90px;
    height: 35px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 46px;
}
.aboutusblock1font{
    width: 180px;
    padding: 16px;
    padding-left: 60px;
    padding-top: 5px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    display: inline-block;
}
.aboutusblock1title2{
    width: 200px;
    height: 50px;
    display: inline-block;
}
.aboutusblock1title2 img{
    width: 90px;
    height: 35px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 46px;
}
.aboutusblock1font2{
    width: 180px;
    padding: 16px;
    padding-left: 60px;
    padding-top: 5px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    display: inline-block;
}
/*成員2*/
.aboutusblock2{
    width: 232px;
    display: inline-block;
}
.aboutusblock2 img{
    width: 200px;
    padding: 16px;
}
.aboutusblock2title1{
    width: 200px;
    height: 50px;
    display: inline-block;
}
.aboutusblock2title1 img{
    width: 90px;
    height: 35px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 16px;
}
.aboutusblock2font{
    width: 180px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 16px;
    margin: 0px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
}
.aboutusblock2title2{
    width: 200px;
    height: 50px;
    display: inline-block;
}
.aboutusblock2title2 img{
    width: 90px;
    height: 35px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 16px;
}
.aboutusblock2font2{
    width: 180px;
    padding: 16px;
    padding-top: 5px;
    padding-left: 30px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    display: inline-block;
}
/*成員3*/
.aboutusblock3{
    width: 232px;
    display: inline-block;
}
.aboutusblock3 img{
    width: 200px;
    padding: 16px;
}
.aboutusblock3title1{
    width: 200px;
    height: 50px;
    display: inline-block;
}
.aboutusblock3title1 img{
    width: 90px;
    height: 35px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 16px;
}
.aboutusblock3font{
    width: 180px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 16px;
    margin: 0px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
}
.aboutusblock3title2{
    width: 200px;
    height: 50px;
    display: inline-block;
}
.aboutusblock3title2 img{
    width: 90px;
    height: 35px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 16px;
}
.aboutusblock3font2{
    width: 180px;
    padding: 16px;
    padding-top: 5px;
    padding-left: 30px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    display: inline-block;
}
/*成員4*/
.aboutusblock4{
    width: 260px;
    display: inline-block;
}
.aboutusblock4 img{
    width: 200px;
    padding: 16px;
    padding-right: 44px;
}
.aboutusblock4title1{
    width: 200px;
    height: 50px;
    display: inline-block;
}
.aboutusblock4title1 img{
    width: 90px;
    height: 35px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 16px;
}
.aboutusblock4font{
    width: 180px;
    padding: 16px;
    padding-left: 30px;
    padding-top: 5px;
    margin: 0px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
}
.aboutusblock4title2{
    width: 200px;
    height: 50px;
    display: inline-block;
}
.aboutusblock4title2 img{
    width: 90px;
    height: 35px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 16px;
}
.aboutusblock4font2{
    width: 180px;
    padding: 16px;
    padding-top: 5px;
    padding-left: 30px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    display: inline-block;
}