/*div置中，固定寬996*/
div{
    margin:0px auto;
    width: 996px;
    background-color: rgb(250, 247, 242);
}
/*標題*/
.contactustitle{
    width: 996px;
    height: 130px;
}
.contactustitle img{
    width: 160px;
    padding-left: 20px;
}
/*表單*/
.formblock{
    width: 996px;
    height: 530px;
}
.formblock1{
    width: 800px;
    height: 24px;
    padding-bottom: 50px;
}
.formblock2{
    width: 800px;
    height: 24px;
    padding-bottom: 50px;
}
.formblock3{
    width: 800px;
    height: 150px;
}
.formblock4{
    width: 800px;
    height: 30px;
    padding: 60px;
}
/*姓名*/
.formblock1_1{
    width: 250px;
    height: 24px;
    float: left;
}
.formblock1_1title{
    width: 65px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    margin: 0px;
    float: left;
}
.formblock1_1text{
    width: 150px;
    height: 24px;
    display: inline-block;
}
/*連絡電話*/
.formblock1_2{
    width: 250px;
    display: inline-block;
    padding-left: 5px;
}
.formblock1_2title{
    width: 100px;
    height: 24px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    margin: 0px;
    float: left;
}
.formblock1_2text{
    width: 150px;
    height: 24px;
    display: inline-block;
}
/*email*/
.formblock1_3{
    width: 250px;
    float: right;
}
.formblock1_3title{
    width: 75px;
    height: 24px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    margin: 0px;
    float: left;
}
.formblock1_3text{
    width: 150px;
    height: 24px;
    display: inline-block;
}
/*主旨*/
.formblock2title{
    width: 65px;
    height: 24px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    margin: 0px;
    float: left;
}
.formblock2text{
    width: 735px;
    height: 24px;
    display: inline-block;
}
/*內容*/
.formblock3title{
    width: 65px;
    height: 150px;
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    margin: 0px;
    float: left;
}
.formblock3text{
    width: 735px;
    height: 150px;
    display: inline-block;
}
/*按鈕*/
.button1{
    width: 370px;
    height: 30px;
    float: left;
    padding-right: 30px;
}
.button2{
    width: 370px;
    height: 30px;
    padding-left: 30px;
    display: inline-block;
}
/*輸入框樣式*/
input[type=text]{
    height: 18px;
    border: 2px solid rgba(204, 204, 204, 0.89);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus {
    border: 2px solid rgb(0, 102, 255);
  }
textarea{
    height: 18px;
    border: 2px solid rgba(204, 204, 204, 0.89);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
textarea:focus{
    border: 2px solid rgb(0, 102, 255);
}
input[type=submit]{
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    background-color: rgba(255, 218, 162, 0.973);
}
input[type=reset]{
    font-size: 18px;
    font-family:Microsoft JhengHei;
    font-weight: bold;
    background-color: rgba(255, 218, 162, 0.973);
}
