/*div置中，固定寬996*/
div{
    margin:0px auto;
    width: 996px;
    background-color: rgb(250, 247, 242);
}
/*介紹區塊*/
.courseblock{
    width: 996px;
    height: 250px;
}
.courseblock1{
    width: 630px;
    float: left;
}
.coursetitle {
    width: 650px;
}
.coursetitle img{
    width: 370px;
    padding-left: 15px;
}
.coursefont{
    width: 540px;
    float: left;
    font-size: 18px;
    padding: 10px;
    padding-left: 50px;
    padding-top: 20px;
    font-family:Microsoft JhengHei;
    letter-spacing: 1.5px;
    line-height: 27px;
    font-weight: bold;
    text-indent:2em;
}
.coursevideo{
    width: 332px;
    float: right;
    padding-right: 20px;
}
/*整個圈起來teb*/
.allteb{
    width: 996px;
    height: 770px;
}
/*tab的部分*/
.tabpage{
    width: 960px;
    margin: 0px auto;
}
.tabtitle {
    width: 996px;
}
#taboutside{
    width:996px;
}
#taboutside ul{
    display:block;
    margin:0;
    list-style:none;
}
#taboutside li{
    display:inline-block;
    font-family:'微軟正黑體';
    font-weight: bold;
    font-size: 36px;
    border:2px solid rgba(145, 82, 23, 0.397);
    height:55px;
    /* background:#cdcdcd; */
    padding:0 40px;
    list-style:none;
    box-sizing:border-box;
}
#taboutside a{
    color:#000;
    text-decoration:none;
}
#taboutside li.active{
    height: 60px;
    border-bottom:0px solid #fff;
    background:#fff !important;
}
#taboutside .tabinside{
    clear:both;
    color:#000;
    border:3px rgba(145, 82, 23, 0.397) solid;
}
.tabinside{
    width: 950px;
    height:620px;
    overflow-y: scroll;
    font-family: Microsoft JhengHei;
}
.tabinside th{
    width: 150px;
    font-size: larger;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tabinside td{
    text-align: center;
    width: 16%;
}
